ion-note {
  // color: map-get($colors, primary);
  // font-size: 1.4rem !important;

	color:map-get($colors, dark) !important;
	padding:3px 5px;
	border-radius:3px;
	font-weight:bold;
}

ion-item {
	ion-icon {
		color: map-get($colors, primary);
	}
}

h3 {
	color: map-get($colors, dark);
} 

ion-card {
	ion-card-header {
		background: #f9f6f6;
		// border-bottom: 1px solid #ddd;

		ion-card-content {
			padding-top: 15px;
		}
	}
}

[btn-center] {
	display: inherit;
	margin: 15px auto;
}

ion-card-header strong,
ion-label h3 {
	color:map-get($colors, primary) !important;
}

.no-pad-bottom{padding-bottom:0px;}
.detail-user{padding:5px;margin:0;}
.detail-user h5{font-size:16px;}
.detail-user ion-item{margin:0 !important;border-top:none !important;}
.detail-user ion-item ion-note{font-size:14px !important;}