<ion-header>
    <ion-navbar>
        <ion-title>{{title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="test">
        <ion-card-content class="no-pad-bottom card-content" *ngIf="prodetail">
          <ion-card-title class="no-pad-bottom card-title">
            <strong>{{project.project_name}}</strong>
          </ion-card-title>
        </ion-card-content>
        <!-- <div class="detail-user" *ngIf="prodetail">
          <h5>Manager</h5>
          <ion-list>
            <button ion-item *ngFor="let mg of managers" (click)="showUserDetail(mg,'Manager')">
              {{ mg.name }}
            </button>  
          </ion-list>
        </div> -->
        <ion-list *ngIf="prodetail" class="detail-user">
          <ion-item *ngFor="let mg of managers" (click)="showUserDetail(mg,'Manager')">
              <h2>Manager</h2>
              <ion-note item-right>{{mg.name}}
                <ion-icon name="contact"></ion-icon>
                <ion-icon name="arrow-forward"></ion-icon>
              </ion-note>
          </ion-item>
        </ion-list>
        <ion-list class="detail-user" *ngIf="prodetail">
          <ion-item *ngFor="let sup of super" (click)="showUserDetail(sup,'Superintendent')">
              <h2>Superintendent</h2>
              <ion-note item-right>{{sup.name}}
                <ion-icon name="contact"></ion-icon>
                <ion-icon name="arrow-forward"></ion-icon>
              </ion-note>
          </ion-item>
        </ion-list>
        <ion-card *ngIf="prodetail">
          <ion-card-content>
            <ion-card-title>
             Project Address
            </ion-card-title>
            <p>{{project.project_address}}</p>
          </ion-card-content>          
        </ion-card>

        <ion-card *ngIf="prodetail">
          <ion-card-content>
            <ion-card-title>
             Client Address
            </ion-card-title>
            <p>{{project.client_address}}</p>
          </ion-card-content>          
        </ion-card>
    </div> 

    <div *ngIf="response">

        <ion-card *ngFor="let milestone of milestones">
             <ion-card-header>
                <strong>{{milestone.name}}</strong>
            </ion-card-header>

            <ion-card-content>
                <p>{{milestone.description}}</p>
            </ion-card-content>

            <ion-list>
                <ion-item>
                    <h3>Start Date</h3>
                    <ion-note item-right>{{milestone.start_date | date:'dd MMM yyyy'}}</ion-note>
                </ion-item>
                <ion-item>
                    <h3>End Date</h3>
                    <ion-note item-right>{{milestone.end_date | date:'dd MMM yyyy'}}</ion-note>
                </ion-item>
                <ion-item>
                    <h3>Status</h3>
                    <ion-note item-right>{{milestone.status}}</ion-note>
                </ion-item>
                <ion-item>
                    <h3>Work Item</h3>
                    <ion-note item-right>{{milestone.work_items}}</ion-note>
                </ion-item>
                <ion-item>
                    <h3>Contractor</h3>
                    <ion-note item-right>{{milestone.company_name}}</ion-note>
                </ion-item>
                
                 <button *ngIf="milestone.status != 'COMPLETED' && milestone.review=='1'" ion-button btn-center (click)="ViewCompletedItems(milestone)">
                   Progress Status
                </button>

                <button *ngIf="milestone.status != 'COMPLETED' && prodetail && updatebtn" ion-button btn-center (click)="updateMilestoneStatus(milestone)">
                   Update Status
                </button>

                 <button *ngIf="milestone.status == 'COMPLETED'" ion-button btn-center (click)="ViewCompletedItems(milestone)"> View Status </button>
            </ion-list>
        </ion-card>

    </div>
</ion-content>
